### Note
* Code for Student Analysis

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

In [2]:

# school_data_complete.head()

# school_data_complete.info()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [4]:

# * Calculate the total number of schools

total_school_number = len(school_data_complete["school_name"].unique())

# * Calculate the total number of students

total_student_number = school_data_complete["school_name"].count()

# * Calculate the total budget

total_budget = school_data["budget"].sum()

# * Calculate the average maths score 

total_avg_maths_score = school_data_complete["maths_score"].mean()

# * Calculate the average reading score

total_avg_reading_score = school_data_complete["reading_score"].mean()

# * Calculate the percentage of students with a passing maths score (50 or greater)

total_students_math_pass = len(school_data_complete.loc [school_data_complete["maths_score"]>=50, :])

total_per_math_pass = total_students_math_pass/total_student_number


# * Calculate the percentage of students with a passing reading score (50 or greater)

total_students_read_pass = len(school_data_complete.loc [school_data_complete["reading_score"]>=50, :])

total_per_read_pass = total_students_read_pass/total_student_number

# * Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

total_st_pass_all = len(school_data_complete.loc [(school_data_complete["reading_score"]>=50 ) & (school_data_complete["maths_score"]>=50), :])

total_per_pass_all =  total_st_pass_all / total_student_number

# * Create a dataframe to hold the above results

total_budget = float(total_budget)


LGA_Dic = [{
            "Total Schools" :   total_school_number, 
            "Total Students":   total_student_number,
            "Total Budget"  :   total_budget,
            "Average Maths Score":  total_avg_maths_score,
            "Average Reading Score": total_avg_reading_score,
            "% Passing Maths"   :   total_per_math_pass,
            "% Passing Reading":    total_per_read_pass,
            "% Overall Passing" :   total_per_pass_all                  
            }]
LGA_Dic


LGA_DF = pd.DataFrame(LGA_Dic)

# * Optional: give the displayed data cleaner formatting

# * Format data as per challenge requirement

LGA_DF["Total Students"] = LGA_DF["Total Students"].map("{:,}".format)
LGA_DF["Total Budget"] = LGA_DF["Total Budget"].map("${:,.2f}".format)
LGA_DF["% Passing Maths"] = LGA_DF["% Passing Maths"]*100
LGA_DF["% Passing Reading"] = LGA_DF["% Passing Reading"]*100
LGA_DF["% Overall Passing"] = LGA_DF["% Overall Passing"]*100

LGA_DF

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

In [39]:
# * Create an overview table that summarises key metrics about each school, including:

# school_data_complete_02= school_data_complete.set_index("school_name")

# school_data_complete_02 = school_data_complete_02.groupby("school_name")

# school_data_complete_02.head()

#   * School Name

school_sum = school_data

school_sum["Per Student Budget"] = school_sum["budget"]/school_sum["size"]

# print (school_sum)

# school_summary_df = student_data.groupby("school_name")

# students_per_school = school_summary_df.count()

# school_passed_math = student_data.loc[(student_data.maths_score >= 50),:]

# school_passed_reading = student_data.loc[(student_data.reading_score >= 50),:]

# school_passed_overall = student_data.loc[(student_data.maths_score >= 50) & (student_data.reading_score >= 50),:]

# school_passed_math = school_passed_math.groupby("school_name").count()

# school_passed_reading = school_passed_reading.groupby("school_name").count()

# school_passed_overall = school_passed_overall.groupby("school_name").count()

# merge_df = pd.merge(school_passed_math, school_sum , on="school_name")

# merge_df.info()

# print ("Math")
# print(school_passed_math)

# print ("Reading")
# print(school_passed_reading)

# print ("Overall")
# print(school_passed_overall)

# student_data_total = student_data

#   * School Type

student_data_total["Passed_math"] = [1 if score >= 50 else 0 for score in student_data["maths_score"]]

student_data_total["Passed_reading"] = [1 if score >= 50 else 0 for score in student_data["reading_score"]]

student_data_total["Passed_Overall"] = student_data_total["Passed_math"] * student_data_total["Passed_reading"] 

# st1 = student_data_total.groupby("school_name").sum()

st2 = student_data_total.groupby("school_name").mean()

# merge_dfx = pd.merge(st1,st2, on= "school_name")

merge_dfx2 = pd.merge(st2,school_sum, on= "school_name")

School_Summary_df_pres = merge_dfx2 [["school_name", "type", "size", "budget", "Per Student Budget", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

# School_Summary_df_pres["budget"] = School_Summary_df_pres["budget"].map("${:,.2f}".format)

# School_Summary_df_pres["Per Student Budget"] = School_Summary_df_pres["Per Student Budget"].map("${:,.2f}".format)

# School_Summary_df_pres["Passed_math"] = School_Summary_df_pres["Passed_math"]*100

# School_Summary_df_pres["Passed_reading"] = School_Summary_df_pres["Passed_reading"]*100

# School_Summary_df_pres["Passed_Overall"] = School_Summary_df_pres["Passed_Overall"]*100

School_Summary_df_pres = School_Summary_df_pres.rename(columns={"school_name": "School Name","type" : "School Type", "size" : "Total Students", "budget" : "Total School Budget", "maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

School_Summary_df_pres["Total School Budget"] = School_Summary_df_pres["Total School Budget"].map("${:,.2f}".format)

School_Summary_df_pres["Per Student Budget"] = School_Summary_df_pres["Per Student Budget"].map("${:,.2f}".format)

School_Summary_df_pres["% Passing Maths"] = School_Summary_df_pres["% Passing Maths"]*100

School_Summary_df_pres["% Passing Reading"] = School_Summary_df_pres["% Passing Reading"]*100

School_Summary_df_pres["% Overall Passing"] = School_Summary_df_pres["% Overall Passing"]*100


School_Summary_df_pres

# merge_dfx2.head(14)

# student_data_total.head()

# student_data_total.info()

# print(student_data_total)

# student_data_per_school = student_data_total.groupby("school_name")



# Combine the data into a single dataset.  
# school_summary = pd.merge(school_summary_df , school_data, how="left", on=["school_name", "school_name"])

# school_summary

#   * Total Students

# student_data_per_school["student_name"].count()

#   * Total School Budget

# print (school_data)
#   * Per Student Budget


#   * Average Maths Score
#   * Average Reading Score
#   * % Passing Maths
#   * % Passing Reading
#   * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
# * Create a dataframe to hold the above results

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
1,Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
2,Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
3,Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
4,Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
5,Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
6,Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
7,Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
8,Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
9,Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
10,Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
11,Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
12,Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
13,Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
14,Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [40]:
Top_Perf_Schools = School_Summary_df_pres.sort_values("% Overall Passing", ascending=False)

Top_Perf_Schools.head(5)

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
4,Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
1,Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
0,Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
14,Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
10,Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [41]:
Bottom_Perf_Schools = School_Summary_df_pres.sort_values("% Overall Passing")

Bottom_Perf_Schools.head(5)

,,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
5,Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
7,Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
8,Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
13,Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
3,Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [47]:
# school_data_complete.head()
year_9 = school_data_complete.loc[(school_data_complete["year"]== 9 ) , :]

year_9_data = year_9.groupby("school_name").mean()

year_10 = school_data_complete.loc[(school_data_complete["year"]== 10 ) , :]

year_10_data = year_10.groupby("school_name").mean()

year_11 = school_data_complete.loc[(school_data_complete["year"]== 11 ) , :]

year_11_data = year_11.groupby("school_name").mean()

year_12 = school_data_complete.loc[(school_data_complete["year"]== 12 ) , :]

year_12_data = year_12.groupby("school_name").mean()

df = pd.merge(year_9_data,year_10_data, on= "school_name")

df.head()

,Student ID_x,year_x,reading_score_x,maths_score_x,School ID_x,size_x,budget_x,Student ID_y,year_y,reading_score_y,maths_score_y,School ID_y,size_y,budget_y
school_name,,,,,,,,,,,,,,
Bailey High School,20344.481481,9.0,70.901920,72.493827,7.0,4976.0,3124928.0,20365.058918,10.0,70.848265,71.897498,7.0,4976.0,3124928.0
Cabrera High School,16969.634470,9.0,71.172348,72.321970,6.0,1858.0,1081356.0,16909.487124,10.0,71.328326,72.437768,6.0,1858.0,1081356.0
Figueroa High School,4397.878505,9.0,70.261682,68.477804,1.0,2949.0,1884411.0,4332.703801,10.0,67.677588,68.331586,1.0,2949.0,1884411.0
Ford High School,36170.595438,9.0,69.615846,69.021609,13.0,2739.0,1763916.0,36122.879944,10.0,68.988701,69.387006,13.0,2739.0,1763916.0
Griffin High School,13031.305623,9.0,72.026895,72.789731,4.0,1468.0,917500.0,12983.711823,10.0,70.746305,71.093596,4.0,1468.0,917500.0

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type