### Note
* Code for Student Analysis

In [68]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

In [69]:

# * Calculate the total number of schools

total_school_number = len(school_data_complete["school_name"].unique())

# * Calculate the total number of students

total_student_number = school_data_complete["school_name"].count()

# * Calculate the total budget

total_budget = school_data["budget"].sum()

# * Calculate the average maths score 

total_avg_maths_score = school_data_complete["maths_score"].mean()

# * Calculate the average reading score

total_avg_reading_score = school_data_complete["reading_score"].mean()

# * Calculate the percentage of students with a passing maths score (50 or greater)

total_students_math_pass = len(school_data_complete.loc [school_data_complete["maths_score"]>=50, :])

total_per_math_pass = total_students_math_pass/total_student_number


# * Calculate the percentage of students with a passing reading score (50 or greater)

total_students_read_pass = len(school_data_complete.loc [school_data_complete["reading_score"]>=50, :])

total_per_read_pass = total_students_read_pass/total_student_number

# * Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

total_st_pass_all = len(school_data_complete.loc [(school_data_complete["reading_score"]>=50 ) & (school_data_complete["maths_score"]>=50), :])

total_per_pass_all =  total_st_pass_all / total_student_number

# * Create a dataframe to hold the above results

total_budget = float(total_budget)


LGA_Dic = [{
            "Total Schools" :   total_school_number, 
            "Total Students":   total_student_number,
            "Total Budget"  :   total_budget,
            "Average Maths Score":  total_avg_maths_score,
            "Average Reading Score": total_avg_reading_score,
            "% Passing Maths"   :   total_per_math_pass,
            "% Passing Reading":    total_per_read_pass,
            "% Overall Passing" :   total_per_pass_all                  
            }]
LGA_Dic


LGA_DF = pd.DataFrame(LGA_Dic)

# * Optional: give the displayed data cleaner formatting

# * Format data as per challenge requirement

LGA_DF["Total Students"] = LGA_DF["Total Students"].map("{:,}".format)
LGA_DF["Total Budget"] = LGA_DF["Total Budget"].map("${:,.2f}".format)
LGA_DF["% Passing Maths"] = LGA_DF["% Passing Maths"]*100
LGA_DF["% Passing Reading"] = LGA_DF["% Passing Reading"]*100
LGA_DF["% Overall Passing"] = LGA_DF["% Overall Passing"]*100

LGA_DF

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

In [70]:
# Creating a dataframe with the school infomation (school_data is the dataframe from one of the CSV files)

school_sum = school_data

# The Student Budget is the Budget per school divded by the total number of students (i.e budget/size)

school_sum["Per Student Budget"] = school_sum["budget"]/school_sum["size"]

# Creating a dataframe with the school infomation (student_data is the dataframe from one of the CSV files)

student_data_total = student_data

# 3 Columns are created: 
#   Passed_math with a 1 if the score is greater or equal to 50 in Maths
#   Passed_reading with a 1 if the score is greater or equal to 50 in Reading
#   Passed_Overall with a 1 if the score is greater or equal to 50 in Maths and in Reading

student_data_total["Passed_math"] = [1 if score >= 50 else 0 for score in student_data["maths_score"]]

student_data_total["Passed_reading"] = [1 if score >= 50 else 0 for score in student_data["reading_score"]]

student_data_total["Passed_Overall"] = student_data_total["Passed_math"] * student_data_total["Passed_reading"] 

# st2 contains a dataframe with data grouped by school_name (and then by the mean of the grouped values)

st2 = student_data_total.groupby("school_name").mean()

# merge_dfx2 is the Student Data merged with the school type, size, budget and budget per student information

merge_dfx2 = pd.merge(st2,school_sum, on= "school_name")

# School_Summary_df_pres contains only the relevant columns as below:

School_Summary_df_pres = merge_dfx2 [["school_name", "type", "size", "budget", "Per Student Budget", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

# School_Summary_df_pres column renaming to comply with the presentation requirements

School_Summary_df_pres = School_Summary_df_pres.rename(columns={"school_name": "School Name","type" : "School Type", "size" : "Total Students", "budget" : "Total School Budget", "maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

# School_Summary_df_pres mapping to comply with the presentation requirements

School_Summary_df_pres["Total School Budget"] = School_Summary_df_pres["Total School Budget"].map("${:,.2f}".format)

School_Summary_df_pres["Per Student Budget"] = School_Summary_df_pres["Per Student Budget"].map("${:,.2f}".format)

School_Summary_df_pres["% Passing Maths"] = School_Summary_df_pres["% Passing Maths"]*100

School_Summary_df_pres["% Passing Reading"] = School_Summary_df_pres["% Passing Reading"]*100

School_Summary_df_pres["% Overall Passing"] = School_Summary_df_pres["% Overall Passing"]*100


School_Summary_df_pres

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
1,Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
2,Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
3,Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
4,Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
5,Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
6,Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
7,Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
8,Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
9,Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
10,Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
11,Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
12,Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
13,Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
14,Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [71]:
# Sorting from Highest to Lowest Overall Passing Score

Top_Perf_Schools = School_Summary_df_pres.sort_values("% Overall Passing", ascending=False)

# Removing the index for presentation purposes

blankIndex=[''] * len(Top_Perf_Schools)
Top_Perf_Schools.index=blankIndex

# Presenting only the top 5

Top_Perf_Schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
,Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
,Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
,Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
,Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [72]:
# Sorting from Lowest to Highest Overall Passing Score

Bottom_Perf_Schools = School_Summary_df_pres.sort_values("% Overall Passing")

# Removing the index for presentation purposes

blankIndex=[''] * len(Bottom_Perf_Schools)
Bottom_Perf_Schools.index=blankIndex

# Presenting only the top 5 (Which are the lowest scores possible)

Bottom_Perf_Schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
,Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
,Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
,Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
,Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [74]:
# The dataframe year_i [i=9,10,11,12] contains all the data pertaining the year i
# The dataframe year_i_data contains the data grouped by school name with the mean of the data calculated

year_9 = school_data_complete.loc[(school_data_complete["year"]== 9 ) , :]

year_9_data = year_9.groupby("school_name").mean()

year_10 = school_data_complete.loc[(school_data_complete["year"]== 10 ) , :]

year_10_data = year_10.groupby("school_name").mean()

year_11 = school_data_complete.loc[(school_data_complete["year"]== 11 ) , :]

year_11_data = year_11.groupby("school_name").mean()

year_12 = school_data_complete.loc[(school_data_complete["year"]== 12 ) , :]

year_12_data = year_12.groupby("school_name").mean()

# To obtain the Maths Dataframe per year the 4 columns which contain the maths_score per year are concatenated

Maths_df = pd.concat([year_9_data.maths_score, year_10_data.maths_score, year_11_data.maths_score, year_12_data.maths_score ], axis = 1)

# For presentation purposes the columns are renamed to Year_i [i=9,10,11,12] and the index name removed to match the presentation requirements

Maths_df.columns.array[0] = "Year 9"
Maths_df.columns.array[1] = "Year 10"
Maths_df.columns.array[2] = "Year 11"
Maths_df.columns.array[3] = "Year 12"

Maths_df.index.name = ""

Maths_df

                          Year 9    Year 10    Year 11    Year 12

Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [75]:
# To obtain the Maths Dataframe per year the 4 columns which contain the maths_score per year are concatenated

Reading_df = pd.concat([year_9_data.reading_score, year_10_data.reading_score, year_11_data.reading_score, year_12_data.reading_score ], axis = 1)

# For presentation purposes the columns are renamed to Year_i [i=9,10,11,12] and the index name removed to match the presentation requirements

Reading_df.columns.array[0] = "Year 9"
Reading_df.columns.array[1] = "Year 10"
Reading_df.columns.array[2] = "Year 11"
Reading_df.columns.array[3] = "Year 12"

Reading_df.index.name = ""

Reading_df

                          Year 9    Year 10    Year 11    Year 12

Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [79]:
# merge_dfx3 Contains all the students grades with the columns listed below as well as the school type, size, budget and budget per student information

#   Passed_math with a 1 if the score is greater or equal to 50 in Maths
#   Passed_reading with a 1 if the score is greater or equal to 50 in Reading
#   Passed_Overall with a 1 if the score is greater or equal to 50 in Maths and in Reading


merge_dfx3 = pd.merge(student_data_total,school_sum, on= "school_name")

#Bins are added to be able to group by budget per student

# Create the bins in which Data will be held
# Bins are 0, 585, 630, 645, 680.   
bins = [0, 585, 630, 645, 680]

# Create the names for the four bins
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]


merge_dfx3["Spending Ranges(Per Student)"] = pd.cut(merge_dfx3["Per Student Budget"], bins, labels=group_names, include_lowest=True)


# School_Spending_df contains only the relevant columns as below:

School_Spending_df = merge_dfx3 [["Spending Ranges(Per Student)", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]


# # Creating a group based off of the bins
School_Spending_df = School_Spending_df.groupby("Spending Ranges(Per Student)").mean()


# School_Spending_df_pres column renaming to comply with the presentation requirements

School_Spending_df_pres = School_Spending_df.rename(columns={"maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

# School_Spending_df_pres mapping to comply with the presentation requirements

School_Spending_df_pres["Average Maths Score"] = School_Spending_df_pres["Average Maths Score"].map("{:,.2f}".format)

School_Spending_df_pres["Average Reading Score"] = School_Spending_df_pres["Average Reading Score"].map("{:,.2f}".format)

School_Spending_df_pres["% Passing Maths"] = (School_Spending_df_pres["% Passing Maths"]*100).map("{:,.2f}".format)

School_Spending_df_pres["% Passing Reading"] = (School_Spending_df_pres["% Passing Reading"]*100).map("{:,.2f}".format)

School_Spending_df_pres["% Overall Passing"] = (School_Spending_df_pres["% Overall Passing"]*100).map("{:,.2f}".format)


School_Spending_df_pres

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$585,70.94,70.38,88.16,85.57,75.58
$585-630,72.17,70.97,91.56,87.35,79.96
$630-645,70.10,69.95,85.39,84.26,72.03
$645-680,68.88,69.06,81.56,81.82,66.77

## Scores by School Size

* Perform the same operations as above, based on school size.

In [84]:

# merge_dfx3 / dfx4 Contains all the students grades with the columns listed below as well as the school type, size, budget and budget per student information

#   Passed_math with a 1 if the score is greater or equal to 50 in Maths
#   Passed_reading with a 1 if the score is greater or equal to 50 in Reading
#   Passed_Overall with a 1 if the score is greater or equal to 50 in Maths and in Reading

dfx4 = merge_dfx3

#Bins are added to be able to group by School Size

# Create the bins in which Data will be held
# Bins are 0, 585, 630, 645, 680.   
bins2 = [0, 1000, 2000, 5000]

# Create the names for the four bins
group_names2 = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]


dfx4["School Size"] = pd.cut(dfx4["size"], bins2, labels=group_names2, include_lowest=True)


# School_Size_df contains only the relevant columns as below:

School_Size_df = dfx4 [["School Size", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

# # Creating a group based off of the bins
School_Size_df = School_Size_df.groupby("School Size").mean()

# School_Size_df column renaming to comply with the presentation requirements

School_Size_df = School_Size_df.rename(columns={"maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

# School_Size_df mapping to comply with the presentation requirements

School_Size_df["% Passing Maths"] = (School_Size_df["% Passing Maths"]*100)

School_Size_df["% Passing Reading"] = (School_Size_df["% Passing Reading"]*100)

School_Size_df["% Overall Passing"] = (School_Size_df["% Overall Passing"]*100)


School_Size_df

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),72.240461,71.627790,91.144708,87.185025,79.121670
Medium(1000-2000),71.441798,70.724595,89.908472,86.740202,78.091997
Large(2000-5000),69.926450,69.685088,84.722649,83.622133,70.969616

## Scores by School Type

* Perform the same operations as above, based on school type

In [87]:
#  As above dfx4 Contains all the students grades with the columns listed below as well as the school type, size, budget and budget per student information

#   Passed_math with a 1 if the score is greater or equal to 50 in Maths
#   Passed_reading with a 1 if the score is greater or equal to 50 in Reading
#   Passed_Overall with a 1 if the score is greater or equal to 50 in Maths and in Reading

# # Creating a group based off of the bins
School_Type_df = dfx4.groupby("type").mean()


# School_Type_df contains only the relevant columns as below:

School_Type_df = dfx4 [["type", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

# School_Type_df column renaming to comply with the presentation requirements

School_Type_df = School_Type_df.rename(columns={ "type" : "School Type" ,"maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

# # Creating a group based off of the bins
School_Type_df = School_Type_df.groupby("School Type").mean()



# School_Type_df mapping to comply with the presentation requirements

School_Type_df["% Passing Maths"] = (School_Type_df["% Passing Maths"]*100)

School_Type_df["% Passing Reading"] = (School_Type_df["% Passing Reading"]*100)

School_Type_df["% Overall Passing"] = (School_Type_df["% Overall Passing"]*100)

School_Type_df

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.990399,69.753485,84.886566,83.818950,71.267052
Independent,71.107594,70.481548,88.715762,85.771691,76.217812