### Note
* Code for Student Analysis

In [75]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

In [76]:

school_data_complete.head()

# school_data_complete.info()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [77]:

# * Calculate the total number of schools

total_school_number = len(school_data_complete["school_name"].unique())
# print (total_school_number)

# * Calculate the total number of students

total_student_number = school_data_complete["school_name"].count()

# print (total_student_number)

# * Calculate the total budget

total_budget = school_data["budget"].sum()

# print (total_budget)

# * Calculate the average maths score 

total_avg_maths_score = school_data_complete["maths_score"].mean()

# print (total_avg_maths_score)

# * Calculate the average reading score

total_avg_reading_score = school_data_complete["reading_score"].mean()

# print (total_avg_reading_score)

# * Calculate the percentage of students with a passing maths score (50 or greater)

total_students_math_pass = len(school_data_complete.loc [school_data_complete["maths_score"]>=50, :])

total_per_math_pass = total_students_math_pass/total_student_number

# print (total_per_math_pass)

# * Calculate the percentage of students with a passing reading score (50 or greater)

total_students_read_pass = len(school_data_complete.loc [school_data_complete["reading_score"]>=50, :])

total_per_read_pass = total_students_read_pass/total_student_number

# print (total_per_read_pass)

# * Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

total_st_pass_all = len(school_data_complete.loc [(school_data_complete["reading_score"]>=50 ) & (school_data_complete["maths_score"]>=50), :])

total_per_pass_all =  total_st_pass_all / total_student_number

# print (total_per_pass_all)
# * Create a dataframe to hold the above results

total_budget = float(total_budget)


LGA_Dic = [{
            "Total Schools" :   total_school_number, 
            "Total Students":   total_student_number,
            "Total Budget"  :   total_budget,
            "Average Maths Score":  total_avg_maths_score,
            "Average Reading Score": total_avg_reading_score,
            "% Passing Maths"   :   total_per_math_pass,
            "% Passing Reading":    total_per_read_pass,
            "% Overall Passing" :   total_per_pass_all                  
            }]
LGA_Dic

# LGA_Dic[3].apply("${:.2f}".format)

LGA_DF = pd.DataFrame(LGA_Dic)

# LGA_DF = LGA_DF["Total Budget"].astype(float)

# LGA_DF["Total Budget"].apply("${:.2f}".format)

# inaccessible_df = inaccessible_df.astype({"NUMBER_OF_BINS": "int",
#                                          "NUMBER_OF_TOILETS": "int",
#                                          "NUMBER_OF_TABLES": "int"})
# inaccessible_df.dtypes

# LGA_DF["Total Budget"].apply("${:.2f}".format)
# print(LGA_DF["Total Budget"])


# file_df["INCOME"] = file_df["INCOME"].map("${:,.2f}".format)
# file_df["COSTS"] = file_df["COSTS"].map("${:,.2f}".format)
# file_df["PERCENT30"] = (file_df["PERCENT30"]*100).map("{:.1f}%".format)
# file_df["PERCENT3050"] = (file_df["PERCENT3050"]*100).map("{:.1f}%".format)
# file_df["PERCENT50"] = (file_df["PERCENT50"]*100).map("{:.1f}%".format)
# file_df["PERCENT_NODATA"] = (file_df["PERCENT_NODATA"]*100).map("{:.1f}%".format)
# file_df["PERCENT_NOBURDEN"] = (file_df["PERCENT_NOBURDEN"]*100).map("{:.1f}%".format)
# file_df["TOTAL"] = file_df["TOTAL"].map("{:,}".format)

# file_df["INCOME"] = file_df["INCOME"].map("${:,.2f}".format)
LGA_DF["Total Students"] = LGA_DF["Total Students"].map("{:,}".format)
LGA_DF["Total Budget"] = LGA_DF["Total Budget"].map("${:,.2f}".format)
LGA_DF["% Passing Maths"] = LGA_DF["% Passing Maths"]*100
LGA_DF["% Passing Reading"] = LGA_DF["% Passing Reading"]*100
LGA_DF["% Overall Passing"] = LGA_DF["% Overall Passing"]*100

LGA_DF

# states_dicts = [{"STATE": "Western Australia", "ABBREVIATION": "WA"},
#                 {"STATE": "New South Wales", "ABBREVIATION": "NSW"}]

# states_df = pd.DataFrame(states_dicts)
# states_df

# * Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

In [91]:
# * Create an overview table that summarises key metrics about each school, including:

# school_data_complete_02= school_data_complete.set_index("school_name")

# school_data_complete_02 = school_data_complete_02.groupby("school_name")

# school_data_complete_02.head()

#   * School Name
school_summary_df = student_data.groupby("school_name")

school_passed_math = student_data.loc[(student_data.maths_score >= 50),:]

school_passed_reading = student_data.loc[(student_data.reading_score >= 50),:]

school_passed_overall = student_data.loc[(student_data.maths_score >= 50) & (student_data.reading_score >= 50),:]

school_passed_math = school_passed_math.groupby("school_name").count()

school_passed_reading = school_passed_reading.groupby("school_name").count()

school_passed_overall = school_passed_overall.groupby("school_name").count()

school_passed_math.head()

student_data_total = student_data

#   * School Type

student_data_total["Passed_math"] = [1 if score >= 50 else 0 for score in student_data["maths_score"]]

student_data_total["Passed_reading"] = [1 if score >= 50 else 0 for score in student_data["reading_score"]]

student_data_total["Passed_Overall"] = student_data_total["Passed_math"] * student_data_total["Passed_reading"] 


student_data_total.head()

student_data_per_school = student_data_total.groupby("school_name")



# Combine the data into a single dataset.  
# school_summary = pd.merge(school_summary_df , school_data, how="left", on=["school_name", "school_name"])

# school_summary

#   * Total Students

student_data_per_school["student_name"].count()

#   * Total School Budget

print (school_data)
#   * Per Student Budget


#   * Average Maths Score
#   * Average Reading Score
#   * % Passing Maths
#   * % Passing Reading
#   * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
# * Create a dataframe to hold the above results

    School ID            school_name         type  size   budget
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type